/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 22, 2014, 3:51:56 PM
    Author     : Lex
*/

body{
    background-color: #FFFFDD;
}

.main{
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 3%;
    font-family: cursive;
    font-size: 14px;
    font-weight: 600;
    color: #666;
}

.header{}

.header_1{
    text-align: right;
    font-family: Georgia;
    font-style: italic;
    //padding-right: 4%;
    
}

.header_2{
    margin-top: 7%;
    margin-right: 3%;
    padding-left: 40%;
    
}

.header_photo img{
    width: 12.5%;
    float: left;
    margin-left: 10%;
    -webkit-border-radius: 50px;
    border-radius:  25px;
}

.info{
    padding-left: 10%;
    margin-top: 2%;
}

.title {
    width: 15%;
    margin-left: 10%;
    float: left;
    text-align: right;
    font-weight: bold;
    font-size: 15px;
    color: #555;
}

.s_title {
    float:end;
    margin-left:15%;
    width:14%;
    text-align: right;
    color: #666
}

.content {
//    border:1px solid;
    float:end;
    margin-left: 30%;
}

.date {
    font-style:italic;
    font-weight: 400;
    color: #777;
}

.comments {
    font-weight: 500;
}